body {
    background-color: rgb(71, 101, 81);
}



h1 {
    padding-left: 40px;
}

h1{
    font-size: 45px;
    font-style: italic;
  
    font-family: "Courier New";
}
 h2 {

    font-size: 20px;
    font-style: bold;
 }
div.pilnais {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 900px;
    background-color: rgb(120, 118, 118);
    display: grid;
    grid-template-columns: 3fr 15fr;
    width: auto;
}

div.kreisais1 {
        color: white;
    
    min-height: 600px;
    background-color: rgb(100, 97, 97);
    float: right;
}

div.kreisais2 {
    min-height: 600px;
    background-color:  rgb(129, 125, 125);
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;

}

